<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- 设置控制台日志输出格式 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <root>
        <appender-ref ref="consoleLog"/>
    </root>

</configuration>